RewriteEngine On

# Pour interdire l'accès aux répertoires contenant du code
RewriteRule ^src(/.Control/.*|)$ - [NC,F]
RewriteRule ^src(/.Model/.*|)$ - [NC,F]

RewriteRule ^vendor(/.*|)$ - [NC,F]
RewriteRule ^conf(/.*|)$ - [NC,F]

# réécriture pour slim
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ api.php [QSA,L]

Options -Indexes